
@{
    ViewData["Title"] = "About";
}
<br/>
<div class="border-bottom box-shadow d-flex justify-content-between">
    <h2>Acerca de Nosotros [El Equipo]</h2>
    <div style="padding-right: 1rem;">
        <a class="btn btn-secondary" href="~/Home/Main">Pagina Principal</a>
    </div>
</div>
<br/>
<div class="d-flex justify-content-around">
    <div class="card border-primary mb-3" style="width: 25rem;">
      <div class="card-header">Daury Jose Rosario Caba</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Martricula: 2021-1522</h5>
        <p class="card-text">Desarrollo de Software</p>
      </div>
    </div>

    <div class="card border-primary mb-3" style="width: 25rem;">
      <div class="card-header">Anyelys Torres Castillo</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Martricula: 2020-10198</h5>
        <p class="card-text">Desarrollo de Software</p>
      </div>
    </div>
</div>


