@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:10rem;">
    <h1 class="display-4">VAMO' A ETO' BRUTAL</h1>
    <br/>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Login">OPA OPA</a>
</div>
